/* Getting the new tags to behave */article,  aside,  audio,  canvas,  command,  datalist,  details,  embed,  figcaption,  figure,  footer,  header,  hgroup,  keygen,  meter,  nav,  output,  progress,  section,  source,  video  {
    display: block;
}
mark,  rp,  rt,  ruby,  summary,  time  {
    display: inline;
}
/* Global properties ======================================================== */html  {
    width: 100%;
}
body  {
    font-family: Asap, "Trebuchet MS",  Arial !important;
	font-weight: 200;
    font-size: 15px;
    color: #56514f;
    background:  url('../../images/backgrounds/abstract.jpg') center top repeat fixed #919999;
    padding: 0px 0px 0px 0px;
    margin: 0px;
}
body.lazy {
	background: url('../../images/backgrounds/main.jpg') center top repeat fixed #fff;
}
h1,  h2,  h3,  h4,  h5,  h6 {
	font-family:  "Slabo 27px", Asap, "Trebuchet MS",  Arial !important;
		
}
#content-main {
	margin: 0px;
	width: 100%;
}
#top-bar-container {
	height: 100px;
}
#top-float-bar {
	height: 100px;
	width: 100%;
	display: block;
}
.float-top {
	z-index:  9999;
	position: fixed;
	top:  -100px;
	opacity: 0.99;
}
#float-top-bottom-line {
	width: 100%;
	position:  relative;
	bottom:  0px;
	height:  3px;
	background-color:  #DEA900;
	display: none;
	z-index:  1007;
}
#topbar {
	height: 40px;
	width: 100%;
	background-color: #003964;
	display: block;
}
#topbar-nav {
	height: 60px;
	width: 100%;
	background-color:  rgba(50,  60,  70,  0.9);
	display: block;
	border-top:  1px solid #667686;
}
#topbar-absolute {
	z-index:  1003;
	position:  absolute;
	left:  50px;
	top:  0px;
	width:  100px;
	height:  100px;
}
.shadowed {
	animation:  shadowThrob 0.5s forwards;
	-webkit-animation:  shadowThrob 0.5s ease-out forwards;
}

@keyframes shadowThrob  {
    from  {
		box-shadow:  0px 0px 5px rgba(0, 0, 0, 0);
	}
	to  {
		box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.5);
	}
}
@-webkit-keyframes shadowThrob  {
    from  {
		box-shadow:  0px 0px 5px rgba(0, 0, 0, 0);
	}
	to  {
		box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.5);
	}
}
#NSTU-tile {
	left:  0px;
	width: 100px;
	height: 100px;
	position: absolute;
	background:  url('../../images/NSTU_square.png') right center no-repeat #595959;
	z-index:  1003;
}
#NSTU-tile:hover {
	background-color: #505050;
}
#topbar-float {
	display:  none;
	width:  400px;
	height:  100px;
	position:  absolute;
	left:  0px;
	top:  0px;
	z-index:  1002;
}
#topbar-float-logo {
	width:  100px;
	height: 100px;
	position:  absolute;
	left:  0px;
	top:  0px;
	background:  url('../../images/logo_blue.png') center center no-repeat #eee;
	background-size:  90px 90px;
	z-index:  1002;
	display:  none;
}
#topbar-float-title {
	width:  200px;
	height: 100px;
	position:  absolute;
	left:  0px;
	top:  0px;
	padding:  8px 12px;
	background-color:  #003964;
	font-family: "Slabo 27px",  Arial;
	z-index:  1001;
	display: none;
}
#topbar-float-title > .title {
	display:  block;
	text-align:  left;
	text-align-last:  left;
	color:  #FFC000;
	font-size: 19px;
	line-height:  22px;
	font-weight:  bold;
}
#topbar-float-title > .address {
	display:  block;
	text-align:  left;
	text-align-last:  left;
	color:  #fff;
	font-size: 15px;
}
#user_menu_compact {
	float:  left;
	position:  relative;
	z-index:  1006;
}
#user_menu_toggle {
	width:  50px;
	height:  40px;
	margin:  0px;
	padding:  5px;
	line-height:  20px;
	color:  #fff;
	font-size:  18px;
	background-color:  transparent;
	border:  none;
	text-align:  center;
}
#user_menu_toggle:focus,  #user_menu_toggle:hover {
	background-color:  rgba(255,  255,  255, .98);
	color:  #003964;
}
#user_menu_dropdown {
	width:  250px !important;
	margin-top:  0px !important;
	border-radius:  0px 4px 4px 4px !important;
}
#user_menu_dropdown > li > a {
	padding:  8px 15px !important;
}
#header-bar {
	height: 360px;
	width: 100%;
	background-color:  rgba(64,  96,  96,  0.25);
	background-image:  url('../../images/sculpture.png');
	background-position:  right bottom;
	background-repeat:  no-repeat;
	background-size:  240px 360px;
	display: block;
	-webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,.75);
	-moz-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,.75);
	box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,.75);
}
		
#breadcrumb-bar {
	position:  relative;
	z-index:  1000;
	height: 42px;
	width: 100%;
	background:  url('../../images/backgrounds/px_by_Gre3g.png') repeat-x;
	background-color:  #333A40s;
	border-top:  3px solid #222;
	border-bottom:  1px solid #888;
	font-family:  Asap, "Trebuchet MS",  Arial;
	color:  #FFC000;
	padding:  8px 0px;
	box-shadow:  0px 10px 10px -10px #000;
}
.breadcrumb {
	display:  inline;
	background: transparent;
	padding:  0px;
	margin: 0px;
	color:  #FFC000;
}
.breadcrumb > li > a {
	color:  #EEB000;
}
.breadcrumb > li > i {
	margin-right:  10px;
}
.breadcrumb >.active {
	color :  #FFC000;
}
#page-content-area {
	/* background-color:  rgba(255,  255,  255,  .95); */
}
#topbar_buttons {
	float:  right;
	z-index:  1005;
	position:  relative;
	min-width:  170px;
}
#search-textbox {
	display:  inline;
	height: 40px;
	width: 120px;
	float: right;
	border: 0px;
	color: white;
	padding:  0px 36px 0px 5px;
	font-family:  Asap,  "Trebuchet MS",  Arial;
	font-size: 15px;
	background-color:  #002E50;
	opacity: 0.75;
	z-index:  -1000;
	text-transform:  uppercase;
}
#search-textbox:hover {
	transition:  opacity 0.2s ease;
	opacity: 1;
}
.search_icon {
	display:  inline;
	float:  right;
	margin-right:  -120px;
	width:  30px;
	height:  40px;
	padding:  10px 0px;
	display:  inline;
	text-align:  center;
	color:  #fff;
	font-size:  15px;
	z-index:  1000;
}
@media (min-width: 480px) {
    	#search-textbox	 {
			width: 200px;
    	}
		.search_icon	 {
			margin-right:  -200px;
    	}
		#topbar_buttons	 {
    		min-width:  250px;
    	}
}.topbar-button {
	height: 40px;
	width:  auto;
	padding:  10px 20px;
	line-height:  20px;
	float: right !important;
	border-right:  1px solid #004F8A;
	color:  white;
	font-family:  Asap,  "Trebuchet MS",  Arial;
	font-size: 15px;
	text-align:  center;
	opacity:  0.9;
	cursor: pointer;
}
.topbar-button:hover {
	opacity:  1.0;
	background-color:  #005090;
}
.topbar-button span {
	display: inline-block;
	-webkit-user-select:  none;
	-moz-user-select:  none;
	-ms-user-select:  none;
}
#topbar_btn_sitemap_mini {
	padding:  10px 15px !important;
	display:  inline;
}
#topbar_btn_sitemap {
	display:  none;
}
#topbar_btn_signup {
	display:  none;
}
#topbar_btn_login {
	display:  none;
}
#div-title {
	width: 320px;
	height: 460px;
	position: relative;
	margin-top: -460px;
	margin-left: 0px;
	-webkit-user-select:  none;
	-moz-user-select:  none;
	-ms-user-select:  none;
}
#facebook-tile {
	width: 100px;
	height: 100px;
	top: 180px;
	position: absolute;
	background:  url('../../images/facebook_icon.png') center 10% no-repeat #002A7E;
	background-size:  70px 70px;
	text-decoration: none;
	display:  none;
}
#facebook-tile:hover {
	background-color:  #002060;
}
#twitter-tile {
	width: 100px;
	height: 100px;
	top: 280px;
	position: absolute;
	background:  url('../../images/twitter_icon.png') center 10% no-repeat #007DDA;
	background-size:  70px 70px;
	text-decoration: none;
	display:  none;
}
#twitter-tile:hover {
	background-color:  #0070C0;
}
#facebook-tile span,  #twitter-tile span {
	display: block;
	color: white;
	line-height:  20px;
	font-size: 12px;
	margin-top: 70px;
	text-align: center;
}
#title-bar-button-container {
	top:  41px;
	width: 170px;
	left:  150px;
	height:  59px;
	position: absolute;
	background-color: rgba(255,  255,  255,  0.8);
	border-bottom:  1px solid #fa0;
	z-index:  1004;
}
.title-bar-button {
	width: 170px;
	float: left;
	background-color: transparent;
	padding:  10px 0px 10px 0px;
	text-decoration: none;
}
.title-bar-button:hover {
	background-color:  rgba(245,  245,  245,  0.8);
}
.title-bar-button-separator {
	background-color:  #E6AF00;
	float: left;
	width: 1px;
	height:  59px;
	margin-top: auto;
	margin-bottom: auto;
	display:  none;
}
.title-bar-button span.line-1 {
	display:  block;
	color: #002060;
	font-size: 14px;
	font-family:  Asap,  "Trebuchet MS",  Arial;
	text-align:  center;
	line-height: 15px;
	text-transform:  uppercase;
}
.title-bar-button span.line-2 {
	display:  block;
	color: #002060;
	font-size: 18px;
	font-weight: bold;
	font-family:  Asap,  "Trebuchet MS",  Arial;
	text-align:  center;
	line-height: 24px;
	text-transform:  uppercase;
}
#tbb_nstu_life {
}
#tbb_virtual_tour {
	display:  none;
}
#title-bar {
	width: 320px;
	height: 360px;
	position:  absolute;
	top: 100px;
	left: 0px;
	background-color: rgba(255,  255,  255,  0.8);
}
#div-logo {
	width: 170px;
	height: 170px;
	margin:  20px auto auto auto;
	background:  url('../../images/logo_blue.png') right center no-repeat;
	background-size:  170px 170px;
}
#NSTU-title {
	display:  block;
	text-align:  center;
	text-align-last:  center;
	color:  #002060;
	font-size: 28px;
	margin:  10px 30px 10px 30px;
	font-family:  "Slabo 27px",  "Cambria",  Arial;
	font-weight: bold;
}
#NSTU-address {
	display:  block;
	text-align:  center;
	text-align-last:  center;
	color:  #363636;
	font-size: 18px;
	margin:  10px 30px 10px 30px;
	font-family: "Slabo 27px",  Arial;
	font-weight: bold;
}
#feature-bar {
	position: relative;
	width: auto;
	height: 330px;
	top: 15px;
	margin:  0px 0px 0px 335px;
	padding:  0px;
	max-width:  700px;
}
#mobile-featured-tile-container {
	display: block;
}
.feature-tile,  .featured-tile,  .image-tile {
	margin:  5px;
	float:  left;
	display:  none;
	clear:  both;
	opacity: 0.9 !important;
	box-shadow:  3px 3px rgba(50, 50, 50, 0.2);
}
.feature-tile-hideable {
	display:  none !important;
}
.feature-tile,  .image-tile {
	width: 320px;
	height: 155px;
}
.featured-tile {
	width:  320px;
	height:  320px;
}
@media (min-width: 700px) {
    	.feature-tile,  .featured-tile,  .image-tile	 {
    		display:  block;
    	}
}@media (min-width:  768px) and (max-width: 800px) {
    	.feature-tile,  .image-tile	 {
			width: 275px;
		}
	.featured-tile	 {
    		width:  275px;
    	}
}
.feature-tile {
	padding:  15px 20px;
}
.featured-tile,  .image-tile {
	padding:  0px;
}
.feature-tile > h1 {
	width: 100%;
	font-size:  24px;
	font-weight:  bold;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
}
.feature-tile > .feature-tile-content {
	width: 100%;
	height: 120px;
	font-size:  14px;
	font-family:  Asap,  "Trebuchet MS",  Arial;
	margin: 0px 0px 0px 0px;
}
.feature-tile > .feature-tile-content  a {
	text-decoration:  none;
}
.featured-tile-content {
	width:  100%;
	height:  100%;
}
.featured-tile-content p {
	font-size:  14px;
}
.green-tile {
	color:  #fff !important;
	background-color: rgba(50,  60,  70,  0.85); !important;
	/* border-bottom:  3px solid #00762D; */
}
.blue-tile {
	color:  #fff !important;
	background-color:  rgba(50,  60,  70,  0.85); !important;
	/* border-bottom:  3px solid #001050; */
}
.dark-blue-tile {
	color:  #fff !important;
	background-color:  #333F50 !important;
	/* border-bottom:  3px solid #232F40; */
}
.dark-gray-tile {
	color:  #fff !important;
	background-color:  #444;
	/* border-bottom:  3px solid #333; */
}
.light-gray-tile {
	color:  #fff !important;
	background-color:  #999;
	/* border-bottom:  3px solid #888; */
}
.white-tile {
	color:  #003964 !important;
	background-color:  #eee;
	/* border-bottom:  3px solid #ddd; */
}
.image-tile {
	background-color:  #BF9000 !important;
	/* border-bottom:  3px solid #AF8000; */
}
.image-tile > .image-carousel {
	width: 100%;
	height: 155px;
	overflow: hidden;
}
.image-carousel div {
	width: 100%;
	height: 155px;
	overflow: hidden;
}
.image-carousel 	img {
	vertical-align: center;
	width: 100%;
	margin:  auto 0px auto 0px;
}
.green-tile > .feature-tile-content  a {
	color:  #FF8030;
}
.green-tile > .feature-tile-content  a:hover {
	color:  #FF3010;
}
.blue-tile > .feature-tile-content  a {
	color:  #FF8030;
}
.blue-tile > .feature-tile-content  a:hover {
	color:  #FF3010;
}
.dark-blue-tile > .feature-tile-content  a {
	color:  #FF8030;
}
.dark-blue-tile > .feature-tile-content  a:hover {
	color:  #FF3010;
}
#home-content-bar1 {
	padding:  20px 0px !important;
	background-color: rgba(50,  60,  70,  0.85);
}
#home-content-bar2,  #home-content-bar3 {
	background:  url('../../images/backgrounds/px_by_Gre3g.png') repeat #ddd;			
}
#home-content-bar4 {
	background:  url('../../images/backgrounds/px_light.png') repeat #fff;
}
#home-content-bar5 {
	padding:  20px 0px 50px 0px;
	/* background:  url('../../images/backgrounds/px_light.png') repeat #ddd; */
	background-color: #F0F0F0;
}
.jumbo {
	height:  auto;
	/*background-color:  rgba(240, 240, 240, .85);
	border-radius:  0px;
	border:  none;
	min-height:  300px;
	box-shadow:  0px 0px 10px #000;*/
	padding-bottom:  20px;
}
.article-tile-item
{	
	min-height: 150px;
	margin: 10px 0px;
	background-color: #708090;
}

#intro-article 
{
	text-align: justify;
	color: #fff;
	font-size: 16px;
}

#bar1-carousel-controls {
	position:  relative;
	width: 100%;
	height:  30px;
	top:  -15px;
	z-index:  100;
}
#bar1-carousel {
	height:  auto;
	margin:  0px 20px;
}
#bar1-carousel  > ul > li> div {
	height:  auto;
}
#bar1-carousel .btn {
	color:  #003964;
	font-size:  14px;
}
#bar1-carousel > ul > li> div > img {
	width:  100%;
	height:  auto;
	box-shadow:  inset 0px 0px 10px #000;
	border-top:  3px solid #fa0;
	border-bottom:  3px solid #fa0;
}
#bar1-carousel  > ul > li> div > .caption {
	color:  #003964;
	height:  auto;
	min-height:  200px;
	padding:  10px 20px 20px 20px;
}
#bar1-carousel > ul > li> div > .caption > h3 {
	color:  #fff;
	text-shadow:  0px 0px 3px black;
}
#bar1-carousel  > ul > li> div > .caption > p {
	color:  #003964;
}
#bar1-carousel  > ul > li> div > .caption > p > span.highlight {
	color:  #fff;
	text-shadow:  0px 0px 3px black;
	background-color:  rgba(0, 57,  100,  0.75);
}
#news-carousel-container,  #notices-carousel-container {
	width:  30px;
	height:  100%;
	min-height:  60px;
	position:  absolute;
	z-index:  100;
}
.c-topic {
	margin-left:  30px;
}
.c-tc-indicators {
	float: left;
	height:  20px;
	z-index:  100;
}
#number-crunch,  #nstu-pulse {
	margin:  0px auto;
	height:  auto;
}
#number-crunch > ul,  ,  #nstu-pulse > ul {
	list-style:  none;
	padding:  0px;
	margin:  20px 0px;
}
#number-crunch-carousel-indicators > li > div,  #nstu-pulse-carousel-indicators > li > div {
	background-color:  rgba(0,  0,  0,  0.3) !important;
}
#number-crunch-carousel-indicators > li.selected > div,  #nstu-pulse-carousel-indicators > li.selected > div {
	transition:  background-color 0.5s ease;
	background-color:  rgba(0,  0,  0,  0.5) !important;
}
.number-box,  .pulse-box {
	list-style:  none;
	float:  left;
	width:  100%;
	margin:  0px;
	text-align:  center;
	font-family : Asap,  "Trebuchet MS",  Arial;
}
.number-box {
	padding:  10px;
	height:  auto;
	min-height:  200px;
}
.pulse-box {
	padding:  0px;
	height:  500px;
}
.number-box p {
	font-size:  20px;
	line-height:  30px;
	color:  #666;
}
.number-box  .number {
	font-family:  "Slabo 27px",  Asap,  "Trebuchet MS",  Arial !important;
	color:  #003964 !important;
	font-size:  70px !important;
	line-height:  100px !important;
}
.pulse-box .image {
	padding:  0px;
	margin: 0px;
	width:  100%;
	height:  250px;
	display:  block;
	background-position:  center center;
	background-repeat:  no-repeat;
	background-size:  auto: 250px;
	background-color:  #eee;
}
.pulse-box  .header {
	position:  relative;
	width:  40px;
	height:  40px;
	display: block;
	margin:  -20px auto 0px auto;
	padding: 0px;
	border-radius:  20px;
	border:  5px solid rgba(255, 255, 255, 0.4);
	background:  #ffc000;
	color:  #003964;
	font-size:  20px;
	font-weight:  bold;
	line-height:  30px;
	text-align:  center;
	font-family : Asap,  "Trebuchet MS",  Arial;
	z-index:  999;
}
.pulse-box  .header:hover {
	transition:  border 0.3s ease;
	border:  5px solid rgba(255, 255, 255, 0.5);
}
.pulse-box  .milestone {
	background:  url('../../images/icons/milestone.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .accolade {
	background:  url('../../images/icons/accolade.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .appointment {
	background:  url('../../images/icons/appointment.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .convocation {
	background:  url('../../images/icons/convocation.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .presentation {
	background:  url('../../images/icons/presentation.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .seminar {
	background:  url('../../images/icons/presentation.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .research {
	background:  url('../../images/icons/research.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .publication {
	background:  url('../../images/icons/publication.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .election {
	background:  url('../../images/icons/election.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .community {
	background:  url('../../images/icons/community.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .culture {
	background:  url('../../images/icons/culture.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box  .observance {
	background:  url('../../images/icons/community.png') center center no-repeat #ffc000;
	background-size:  30px 30px;
}
.pulse-box .content {
	position:  relative;
	width:  100%;
	height:  250px;
	margin-top:  -20px;
	padding:  35px 20px 15px 20px;
	display: block;
	background:  #fff;
	border-right:  1px solid #eee;
	color:  #003964;
	font-size:  14px;
	text-align:  left;
	font-family :  "Slabo 27px",  Asap,  "Trebuchet MS",  Arial;
	word-wrap:  break-word;
}
.pulse-box .content .badge {
	position:  absolute;
	top:  25px;
	left:  50%;
	transform:  translateX(-50%);
	width:  auto;
	height: 20px;
	color:  #fff;
	background-color:  rgba(0, 0, 0, 0.75);
	font-size:  11px;
	line-height:  20px;
	font-family :  Arial !important;
	text-transform:  uppercase;
	padding:  0px 10px;
	border-radius:  10px;
}
.pulse-box .content h1 {
	font-size:  22px;
	color:  #003964;
	font-weight:  bold;
	margin:  5px 0px;
	padding:  0px;
}
.pulse-box .content h3 {
	font-size:  16px;
	color:  #666;
	font-family :  Asap,  "Trebuchet MS",  Arial !important;
	line-height:  26px;
	margin: 0px;
	padding:  15px 0px 0px 0px;
}
@media (min-width: 600px) and (max-width: 899px) {
    	.number-box,  .pulse-box	 {
			width:  50%;
    	}
}@media (min-width:  900px) and (max-width: 1199px) {
    	.number-box,  .pulse-box	 {
			width:  33.33%;
    	}
}@media (min-width:  1200px) {
    	.number-box,  .pulse-box	 {
			width:  25%;
    	}
}@media (min-width:  768px) {
    	.c-topic	 {
    		margin-left:  0px;
    	}
	#user_menu_compact	 {
    		display: none;
    	}
		#topbar_btn_sitemap_mini	 {
    		display: none;
    	}
	#topbar_btn_sitemap	 {
    		display:  inline;
    	}
	#topbar_btn_signup	 {
    		display:  inline;
    	}
	#topbar_btn_login	 {
    		display:  inline;
    	}
		#div-title	 {
    		margin-left:  50px;
    		width:  400px;
    	}
			#facebook-tile	 {
    		display:  block;
    	}
		#twitter-tile	 {
    		display:  block;
    	}
		#title-bar-button-container	 {
			left:  100px;
    		width: 300px;
    		border-bottom:  none;
    	}
	.title-bar-button	 {
    		width: 149px;
    			}
		.title-bar-button-separator	 {
    		display:  inline-block;
    	}
		#tbb_virtual_tour	 {
    		display:  inline-block;
    	}
		#title-bar	 {
    		width: 300px;
    		left:  100px;
    	}
	#NSTU-title	 {
			font-size: 24px;
    	}
		#feature-bar	 {
			margin:  0px 0px 0px 465px;
    	}
}@media (min-width:  1200px) {
    	.feature-tile,  .featured-tile,  .image-tile	 {
			display:  inline-block;
    		clear:  none;
    		opacity:  .95;
    	}
	.feature-tile-hideable	 {
    		display:  inline-block !important;
    	}
}@media (min-width:  1600px) {
    	#feature-bar	 {
			width:  700px;
    		margin:  0px auto;
    	}
}